.subHeader {
    padding: 14px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // Кнопки, не оставил в app.scss, т.к. их всего две и они обе отсюда

        .button {
            position: relative;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 4px;
            border: none;
            outline: none;
            color: $add-text-color;
            cursor: pointer;
        
            img {
                margin-right: 8px;
            }
        
            span {
                position: relative;
                width: 10px;
                height: 10px;
                background: $primary-color;
                position: absolute;
                top: 6px;
                left: 27px;
        
                figure {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 5px;
                    height: 5px;
                    background: red;
                    border-radius: 100%;
                }
            }

            // Вёрстка по БЭМУ, модификаторы кнопок
        
            &-primary {
                background: $add-color;
            }
        
            &-add {
                background: #FAFBFC;
                border: 1px solid $boder-color;
            }
        }

        // Блок с поиском, тут определённо можно зарефакторить код / Библиотека vue-multiselect

        .search-block {
            position: relative;

            .multiselect {
                border: 1px solid $boder-color;
                border-radius: 4px;

                &__tags {
                    width: 526px;
                    padding: 14px 8px;
                }

                &__input {
                    font-size: 14px;
                    font-weight: 400;
                    color: $text-color;
                    border: none;
                    outline: none;

                    &:focus {
                        font-size: 14px;
                        font-weight: 400;
                        color: $text-color;
                    }
                }

                &__content {
                    list-style-type: none;

                    &-wrapper {
                        position: absolute;
                        top: 50px;
                        right: 0;
                        left: 0;
                        border: 1px solid $boder-color;
                    }
                }

                &__element {
                    padding: 14px 8px;
                }
            }

            svg {
                position: absolute;
                top: 25%;
                right: 10px;
                cursor: pointer;
            }
        }

        // Профиль

        .profile-block {
            position: relative;
            width: 40px;
            height: 40px;
            background: #9B51E0;
            border-radius: 100%;
            cursor: pointer;

            p {
                position: absolute;
                top: 46%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                font-weight: 600;
                color: $primary-color;
                text-align: center;
            }
        }
    }
}